attrs==26.1.0
contourpy==1.4.0
cvat_sdk==2.74.1
cycler==0.12.1
fonttools==4.66.1
iniconfig==2.3.1
kiwisolver==1.5.1
matplotlib==3.11.2
numpy==2.5.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pillow==12.3.0
platformdirs==4.12.4
pluggy==1.6.0
Pygments==2.21.0
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.8.0
wheel==0.48.0
